.tile-list {
  font-family: 'SlatePro-Bk', sans-serif;
}
.tile-list .normal-text {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.tile-list .normal-text-weight {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: normal;
}
.tile-list .tile-box {
  height: auto;
  background-color: #ffffff;
  position: relative;
  border: solid 1px #e7e7e7;
  margin: 19px 0;
}
.tile-list .tile-box p {
  margin: 0;
}
.tile-list .tile-box .row {
  margin: 21px 0 44px 26px;
}
.tile-list .tile-box .row .imageBox {
  max-width: 63px;
  height: 45px;
}
.tile-list .tile-box .row .numberbox {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-right: 7px;
  height: 33px;
  font-size: 3.125em;
  font-weight: 500;
  line-height: 0.65;
  text-align: right;
  color: #b6b6b6;
}
.tile-list .tile-box .row .contetntBoxPadding {
  padding-left: 21px;
}
.tile-list .tile-box .row .col {
  padding-left: 0;
}
.tile-list .tile-box .row .col.box-title {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 1.250em;
  font-weight: 500;
  line-height: 0.7;
  text-align: left;
  color: #003087;
  margin-top: 0.5px;
}
.tile-list .tile-box .row .col p {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: normal;
  margin-top: 16px;
  font-size: 1em;
  line-height: 1.63;
  text-align: left;
  color: #000000;
  vertical-align: bottom;
}
.tile-list .tile-box-hover:hover {
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
@media (min-width:768px) and (max-width:992px) {
  .tile-list .tile-box .row .col p {
    line-height: 1.2;
  }
}
@media (max-width:768px) {
  .tile-list .tile-box .row .imageBox {
    max-width: 63px;
  }
  .tile-list .tile-box .row .col .box-title {
    margin-top: 5.5px;
  }
  .tile-list .tile-box .row .contetntBoxPadding {
    max-width: 79%;
  }
}
